extends ../../../core/view/layout

prepend header
  title account.t('plugins.wiki.') | #{config.web.name}

block main
  for category in category_list
    h2= category.category
    ul
      for page in category.pages
        li
          a(href="/wiki/#{category.t_category}/#{page.t_title}")= page.title
          | &nbsp; (#{page.language})
