extends layout

prepend head
  title RP 主机：Linux 虚拟主机 | #{t('app.name')}

append head
  link(rel='stylesheet', href='/style/index.css')

block content
  #page-title
    .container
      h1 RP 主机
      p Linux 虚拟主机

  #content.container
    .row
      .col-md-6.col-md-offset-6
        header 支持多种运行环境
        ul
          li
            code console.log('Node.js');
          li
            code print('Python')
          li
            code fmt.Println('Golang')
          li
            code echo 'PHP';

    .row
      .col-md-6
        header 灵活地编写 Nginx 配置
        pre.
          {
            "listen": 80,
            "server_name": ["myapp.net"],
            "auto_index": false,
            "index": ["index.html"],
            "root": "/home/user/web",
            "location": {
              "/": {
                "fastcgi_pass": "unix:///home/user/phpfpm.sock",
                "fastcgi_index": ["index.php"]
              }
            }
          }

    .row
      .col-md-6.col-md-offset-6
        header 各种类型的数据库
        ul
          li
            code db.update {name: 'MongoDB'}
          li
            code SELECT FROM `MySQL`
          li
            code FLUSH Redis
          li
            code GET Memcache

  #page-footer
    .container
      p
        a(href= 'https://github.com/jysperm/RootPanel') RootPanel
        | &nbsp; v#{app.package.version}
      p
        | by &nbsp;
        a(href= 'http://jysperm.me') jysperm
        | , yudong
