extends layout

prepend head
  title #{t('word.panel')} | #{t('app.name')}

append head
  link(rel='stylesheet', href='/style/panel/panel.css')

block content
  #content.container
    .row
      #sidenav.col-md-3
        ul.nav.nav-pills.nav-stacked
          li.active
            a(href='/panel/')
              span.glyphicon.pull-right.glyphicon-home
              | #{t('word.panel')}
          li
            a(href='/ticket/list/')
              span.glyphicon.pull-right.glyphicon-edit
              | #{t('word.ticket')}
      
      .col-md-9
        h2 Panel
