header MySQL
.col-md-6
  .panel.panel-warning
    .panel-heading
       h3.panel-title 设置 MySQL 密码
    .panel-body
      .input-group#mysql-input
        input.form-control(type='password')
        span.input-group-btn
          button.btn.btn-default(type='button') 提交
