extends ../layout

prepend head
  title #{t('ticket.create_ticket')} | #{t('app.name')}
  link(rel='stylesheet', href='/style/ticket.css')

block main
  header= t('ticket.create_ticket')
  form.form-horizontal(method='post', role='form')
    .form-group.padding
      input#title.form-control(type='text', name='title', placeholder= t('ticket.title'),required)
    .form-group.padding
      textarea.form-control(name='content', rows='15', required)
    .form-group.padding
      button.btn.btn-lg.btn-primary.action-create(type='button')= t('ticket.create')

append footer
  script(src='/script/ticket/create.js')
