extends ../layout

prepend header
  title= helpers.title('ticket.create_ticket')

block main
  #create-view.row
    header= t('ticket.create_ticket')
    form.form-horizontal
      .form-group.padding
        input.form-control(name='title', type='text', placeholder= t('ticket.title'))
      .form-group.padding
        textarea.form-control(name='content', rows='15')
      .form-group.padding
        button.btn.btn-lg.btn-primary.action-create(type='button')= t('ticket.create')
