div
  h2= account.t('plugins.rpvhost.taobao')
  p= account.t('plugins.rpvhost.view.payment_tips')
  a.btn.btn-success(href='http://item.taobao.com/item.htm?id=#{config.plugins.rpvhost.taobao_item_id}')= account.t('plugins.rpvhost.view.go_pay')
