header MongoDB
.col-md-6
  .panel.panel-success
    .panel-heading
      h3.panel-title 新建数据库
    .panel-body
      .input-group#mongodb-create
        input.form-control(value='jysperm_')
        span.input-group-btn
          button.btn.btn-default(type='button') 提交
  .panel.panel-warning
    .panel-heading
      h3.panel-title 设置 MongoDB 密码
    .panel-body
      .input-group#mongodb-input
        input.form-control(type='password')
        span.input-group-btn
          button.btn.btn-default(type='button') 提交

.col-md-6
  table(style= 'table-layout: fixed;').table.table-hover
    thead
      tr
        td(style= 'width: 200px;') 数据库
        td 体积
        td
    tbody
      tr
        td(style= 'white-space: nowrap; overflow: hidden;', title= 'jysperm_test') jysperm_test
        td 10M
        td
          button.nginx-remove-btn.btn.btn-danger.btn-xs
            span.glyphicon.glyphicon-remove-sign
