header MongoDB
.col-md-6
  .panel.panel-success
    .panel-heading
      h3.panel-title 新建数据库
    .panel-body
      .input-group
        input.form-control(value='#{account.username}_')
        span.input-group-btn
          button.create-database.btn.btn-default(type='button') 提交
  .panel.panel-warning
    .panel-heading
      h3.panel-title 设置 MongoDB 密码
    .panel-body
      .input-group
        input.form-control(type='password')
        span.input-group-btn
          button.update-password.btn.btn-default(type='button') 提交

.col-md-6
  table(style= 'table-layout: fixed;').table.table-hover
    thead
      tr
        td(style= 'width: 200px;') 数据库
        td 体积
        td
    tbody
      for db in dbs
        tr(data-name= db.name)
          td(style= 'white-space: nowrap; overflow: hidden;', title= db.name)= db.name
          td #{(db.sizeOnDisk / 1024 / 1024).toFixed(1)}M
          td
            button.delete-database.btn.btn-danger.btn-xs
              span.glyphicon.glyphicon-remove-sign
