_id: ObjectID('525284cc2cebb6d0008b4567')
account_id: ObjectID('525284cc2cebb6d0008b4567')
created_at: ISODate('2013-02-22T03:03:37.312Z')
updated_at: ISODate('2013-02-22T03:03:37.312Z')
title: 'Ticket Title'
content: 'Ticket Content(Markdown)'
content_html: 'Ticket Conetnt(HTML)'
type: 'linux'
status: 'open/pending/finish/closed',
members: [
  ObjectID('525284cc2cebb6d0008b4567')
],
attribute: {
  public: false
}
replys: [
  {
    _id: ObjectID('525284cc2cebb6d0008b4567')
    reply_to: ObjectID('525284cc2cebb6d0008b4567')
    account_id: ObjectID('525284cc2cebb6d0008b4567')
    created_at: ISODate('2013-02-22T03:03:37.312Z')
    content: 'Reply Content(Markdown)'
    content_html: 'Reply Conetnt(HTML)'
    attribute: {}
  }
]
