extends ../layout

prepend header
  title= helpers.title('admin.admin_panel')
  
append header
  link(rel='stylesheet', href='/public/admin.css')

block main
  != mainBlock
  
prepend sidebar
  .row
    a.btn.btn-lg.btn-success(href='/admin/ticket/')= t('ticket.ticket_list')

append footer
  script(id='initialize-props', type='application/json')!= JSON.stringify(initializeProps)
  script(src='/public/admin.js')
