header SSH
.col-md-6
  .panel.panel-warning
    .panel-heading
       h3.panel-title 设置 SSH 密码
    .panel-body
      .input-group#ssh-input
        input.form-control(type='password')
        span.input-group-btn
          button.btn.btn-default(type='button') 提交
.col-md-6
  table.table.table-hover
    thead
      tr
        td 进程名
        td 内存
        td CPU
        td 操作
    tbody
      for process in plist
        tr(data-id= '#{process.pid}')
          td= process.command
          td #{(process.rss / 1024).toFixed(1)}M
          td #{process.cpu_per}%
          td
            button.btn.btn-danger.btn-xs Kill
