append header
  if rpvhost.green_style
    link(rel='stylesheet', href='/plugins/rpvhost/style/green.css')

append menu-bar
  li
    a(href='http://blog.rpvhost.net', target='_blank')= rpvhost.t('official_blog')
